@page "/support"

<div style="padding: 1.5rem">
    <div style="font-size:2em; text-align:left;">Support Us!</div>
    <br />
    <div>Join us in advancing air quality monitoring by installing new stations. Your donation enables us to enhance accuracy and cover more locations.</div>
    <br />
    <div>To donate, please send an email to <a href="mailto:gsoftlaboratory@gmail.com?subject=Donation%20to%20Mettur%20AirQ%20Project&body=I%20would%20like%20to%20donate.%20Please%20share%20the%20recipient%20details." target="_top">gsoftlaboratory@gmail.com</a> to get the donation recipient details.</div>
    <br />
    <div>Thank you for championing clean air and supporting our mission!</div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
